<div class="sidebar-wrapper">
    <div class="logo">

        <a  class="simple-text" routerLink="/admin/dashboard">
            <div class="logo-img">
                <img width="150px" src="assets/images/logo.png"/>
            </div>
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
