<div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
             <!--  <span  class="loader">
                  <img src="assets/images/loader.gif" alt="loader">
              </span>  -->

                <form [formGroup]="WorkshopForm" autocomplete="off" (ngSubmit)="onSubmit()">
                  <!-- <h2 class="oth-title">Create Workshop</h2> -->
                  <div formGroupName="workshopData">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" formControlName="title" id="title">
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.title').hasError('required')
                                  && ((WorkshopForm.get('workshopData.title').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.title').hasError('maxlength')">
                                      Maximum 50 characters are allowed
                          </span>
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.title').hasError('pattern')">
                            Only characters are allowed
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="description">Desciption</label>
                        <textarea rows="6" class="form-control" formControlName="description" id="description" ></textarea>
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.description').hasError('required')
                                  && ((WorkshopForm.get('workshopData.description').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6" (mouseleave)="d.close()">
                        <label for="startDate">Start Date</label>
                        <input type="text" class="form-control" formControlName="startDate" ngbDatepicker #d="ngbDatepicker" [minDate]= "minDate" (click)="d.toggle()" placeholder="yyyy-mm-dd" readonly="true">
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.startDate').hasError('minDate')
                                  && ((WorkshopForm.get('workshopData.startDate').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.startDate').hasError('invalid')
                                  && ((WorkshopForm.get('workshopData.startDate').touched) || formSubmitAttempt)">Please use proper format
                          </span>
                      </div>
                      <div class="form-group col-md-6" (mouseleave)="d1.close()">
                        <label for="endDate">End Date</label>
                        <input type="text" class="form-control" [minDate]= "minDate" formControlName="endDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" placeholder="yyyy-mm-dd" readonly="true">
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.endDate').hasError('required')
                                  && ((WorkshopForm.get('workshopData.endDate').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="seats">Seats</label>
                        <input type="text" class="form-control" formControlName="seats" id="seats">
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.seats').hasError('required')
                                  && ((WorkshopForm.get('workshopData.seats').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.seats').hasError('maxlength')">
                            Only 3 digits are allowed
                          </span>
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.seats').hasError('pattern')">
                            Only digits are allowed
                          </span>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="cost">Cost($)</label>
                        <input type="text" class="form-control" formControlName="cost" id="cost" >
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.cost').hasError('required')
                                  && ((WorkshopForm.get('workshopData.cost').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.cost').hasError('maxlength')">
                                      Maximum 10 digits are allowed
                          </span>
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.cost').hasError('pattern')">
                            Only decimal are allowed
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="category">Category</label>
                        <input type="text" class="form-control" formControlName="category" id="category">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName="email" id="email" >
                          <span class="help-block" *ngIf="!WorkshopForm.get('workshopData.email').valid && WorkshopForm.get('workshopData.email').touched">
                            please enter a valid email id
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" formControlName="phone" id="phone">
                        <span class="help-block" *ngIf="WorkshopForm.get('workshopData.phone').hasError('required')
                                  && ((WorkshopForm.get('workshopData.phone').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                        <span class="help-block" *ngIf="WorkshopForm.get('workshopData.phone').hasError('maxlength')">
                            Only 10 digits are allowed
                          </span>
                        <span class="help-block" *ngIf="WorkshopForm.get('workshopData.phone').hasError('pattern')">
                            Only digits are allowed
                          </span>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="venuePhone">Venue Phone</label>
                        <input type="text" class="form-control" formControlName="venuePhone" id="venuePhone" >
                        <span class="help-block" *ngIf="WorkshopForm.get('workshopData.venuePhone').hasError('required')
                                  && ((WorkshopForm.get('workshopData.venuePhone').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                        <span class="help-block" *ngIf="WorkshopForm.get('workshopData.venuePhone').hasError('maxlength')">
                            Only 10 digits are allowed
                          </span>
                        <span class="help-block" *ngIf="WorkshopForm.get('workshopData.venuePhone').hasError('pattern')">
                            Only digits are allowed
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="address">Address</label>
                        <input type="text" #search class="form-control" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="searchControl" >
                        <!-- <span class="help-block" *ngIf="WorkshopForm.get('workshopData.searchControl').hasError('required')
                                  && ((WorkshopForm.get('workshopData.searchControl').touched) || formSubmitAttempt)">Field is required. 
                        </span> -->
                        <agm-map [latitude]="myMarker.lat" [longitude]="myMarker.lng"
                                (mapReady)="mapReady($event)" (mapClick)="mapClicked($event)">
                            <agm-marker
                                (markerClick)="clickedMarker(myMarker.label, 0)"
                                [latitude]="myMarker.lat"
                                [longitude]="myMarker.lng"
                                [label]="myMarker.label"
                                [markerDraggable]="myMarker.draggable"
                                (dragEnd)="markerDragEnd(myMarker, $event)">
                            </agm-marker>
                       </agm-map>
                      </div>
                      <!-- <p>
                        <span>Lat:{{myMarker.lat}}</span>
                        <span>Long:{{myMarker.lng}}</span>
                      </p> -->
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="organizer">Organizer</label>
                        <input type="text" class="form-control" formControlName="organizer" id="organizer">
                        <span class="help-block" *ngIf="WorkshopForm.get('workshopData.organizer').hasError('required')
                                  && ((WorkshopForm.get('workshopData.organizer').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="website">Website</label>
                        <input type="text" class="form-control" formControlName="website" id="website">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="image">Venue</label>
                        <input type="text" class="form-control" formControlName="venue" id="venue">
                          <span class="help-block" *ngIf="WorkshopForm.get('workshopData.venue').hasError('required')
                                  && ((WorkshopForm.get('workshopData.venue').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                      </div> 
                      <div class="form-group col-md-6" id="workshop-image">
                        <label for="image" style="cursor: pointer;">Upload Image</label>
                        <input type="file" class="form-control"  [style.display]="'none'" (change)="readUrl($event)" accept=".jpg,.png,.jpeg" formControlName="image" id="image">
                        <!-- <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput> -->
                        <img class="preview-salon-img" *ngIf="serverImage" [src]="serverImage" alt="preview">
                        <span class="help-block" *ngIf="WorkshopForm.get('workshopData.image').hasError('required')
                                  && ((WorkshopForm.get('workshopData.image').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group" class="col-md-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a routerLink="/admin/workshops" class="btn btn-primary">Cancel</a>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
