<div>
    <div class="container-fluid">
      <a routerLink="/admin/webpages/add" class="btn btn-sm btn-primary btn-dash pull-right"><i class="fa fa-plus pointer"></i>   Create Page</a>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th *ngFor="let col of displayedColumns">
                          {{col}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of webpages;let i=index;">
                        <td>  {{(limitPage[0] * (pageNo-1)) + i+1}}</td>
                        <td>
                          <span>
                            {{p.title}}
                          </span>
                        </td>
                        <td>{{p.slug}}</td>
                        <td><img class="preview-salon-img" width="150" src="https://extras-dev.s3.amazonaws.com/smythcasting/page/{{p.image}}" alt=""></td>
                        <td>
                          <div class="row">
                            <a routerLink="/admin/webpages/edit/{{p._id}}" class="pointer"><i class="fa fa-edit pointer"></i></a>
                            <a (click)='deleteWebpage(p)' class="pointer"><i class="fa fa-trash pointer"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
