<div>
  <a routerLink="/admin/pages/add" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus pointer"></i>Create Page</a>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <td *ngFor="let col of displayedColumns">
                          {{col}}
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of webpages;let i=index;">
                        <td>  {{(limitPage[0] * (pageNo-1)) + i+1}}</td>
                        <td>
                          <span>
                            {{p.title || 'Not Available'}}
                          </span>
                        </td>
                        <td>{{p.startDate}} to {{p.endDate ? p.endDate : p.startDate}}</td>
                        <td>{{p.venue || 'Not Available'}}</td>
                        <td>{{p.organizer || 'Not Available'}}</td>
                        <td>{{p.phone || 'Not Available'}}</td>
                        <td>{{p.venuePhone || 'Not Available'}}</td>
                        <td>{{p.created || 'Not Available'}}</td>
                        <td>
                          <div class="row">
                            <a routerLink="" class="pointer"><i class="fa fa-eye pointer"></i></a>
                            <a routerLink="/admin/pages/edit" class="pointer"><i class="fa fa-edit pointer"></i></a>
                            <a (click)='deleteWebpage(p)' class="pointer"><i class="fa fa-trash pointer"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
