<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="">
        <app-sidebar></app-sidebar>
        <!-- <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-5.jpg)"></div> -->
    </div>

    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
    <div id="content"><alert></alert><router-outlet></router-outlet></div>
        <!-- <div *ngIf="isMap('maps')"> -->
        <app-footer></app-footer>
        <!-- </div> -->
    </div>
</div>
