/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

a,.form-control,.texth-black,.texth-blue{ color:#000; webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition: all .7s ease-in-out;}
a:hover,a:focus{ text-decoration:none;  }

.link{ color: #3dc2df; }
.title{ color: #000000; font-size: 38px; }
.text1{ color:#a4a4a4; font-size: 16px;}
.font1{ font-size:18px;}


.form-control.input-underline{  outline: none; border:none;  box-shadow:none;  border-radius:0; border-bottom: #e5e5e5 solid 1px; color:#000000; font-size: 18px; padding-bottom:10px;   }
.form-control.input-underline:focus{ border-color:#3dc2df;    }

.form-control::-webkit-input-placeholder { color:#000;}
.form-control ::-moz-placeholder { color: #000;}
.form-control:-ms-input-placeholder { color: #000;}
.form-control:-moz-placeholder { color: #000;}
.btn.custom-btn{ font-weight:400; width:100%; color: #ffffff; font-size: 20px;height: 50px; box-shadow: none; padding:10px 0;   box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.1);   }
.rounded-btn{ border-radius:30px; }
.blue-bg, .btn.custom-btn.blue-bg:focus{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3bdde2+0,3cc6e0+100 */
    background: #3bdde2; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #3bdde2 0%, #3cc6e0 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #3bdde2 0%,#3cc6e0 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #3bdde2 0%,#3cc6e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bdde2', endColorstr='#3cc6e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
.fb{background-color: #4f6ba3;  }
.linkdin{ background-color: #007ab5;}
.title{  font-size:38px; }
.bt-margin{ margin-top:40px; margin-bottom:20px; }
.p-bottom{ padding-bottom:10px !important; }
.padding{ padding:30px 45px;}
.custom-label{ color: #000000; font-size: 24px; margin:0px; margin-bottom:7px; font-weight:500; }
.verify{ text-transform:uppercase; color:#3bdde2; font-size: 14px; position: absolute; bottom:15px; right:40px; cursor: pointer; }
.texth-black:hover{color: #000000 !important;}
.texth-blue:hover{color: #3dc2df !important;}
.btn.btn-width{ width:140px; font-weight:400; font-size: 18px;  }
body{ font-family: 'Roboto', sans-serif; background-color:#ededed; font-size: 14px;  }


.content-main{  background-color:#fff; border-radius: 5px; box-shadow: 0 0 5px #d4d4d4;}
.left-image img{ border-top-left-radius: 5px; border-bottom-left-radius: 5px;  height: 515px; }
.left-image{width:396px; float: left; margin-right:52px;}
.signin-content{ width:352px; float: left;}
.signin-head{margin-bottom:10px; margin-top:15px; }
.signin-head p{margin-bottom:0;}
.signin-content .form-group{ margin-bottom:20px;}
.form-content .form-group:last-child{margin-bottom:20px;}
.forgot-pass{color:#000; font-size: 12px;  }
.btns{padding-top:32px;}
.btns .btn.custom-btn{ margin-bottom:20px; }
.btns .btn.custom-btn{ box-shadow: 0 0 50px #f1f1f1;}
#footer ul{ margin:0px; padding:0px;}
#footer ul li{  list-style: none; float: left; position: relative; margin-right:28px; }
#footer ul li:last-child{margin-right:0px;}
#footer ul li:before{content:''; position: absolute; top:9px; right:-13px;  width:2px; height:2px; background-color: #000; }
#footer ul li:last-child:before{ display:none;}
#footer ul li a{  color:#000; display:block; }
#footer ul li a:hover{ color: #3dc2df; }
#footer{padding:25px 0;}
#footer p{margin-bottom: 0; }



#header .navbar{ background-color:#fff;box-shadow: 0 1px 4px #dddddd; }
#header .nav-item{ font-size: 18px;}
#header .nav-item a{ color:#000000;}
#header .nav-item a:hover,#header .nav-item.active a{ color:#3bdae2;}

.info-slider{margin-top:54px; position: relative;}
.slider .carousel-item img{ border-top-left-radius:11px; border-top-right-radius:11px; }
.slider .carousel-caption h3{ font-size: 47px;  margin-bottom: 0; margin-top: 15px; text-transform: uppercase; }
.slider .carousel-caption .date{ background-color: #ff9000; border-radius: 5px; color:#fff;padding: 8px 15px;font-size: 22px; }
.slider .carousel-caption{ left: 74px;bottom: 20px;padding: 0;text-align: left;width: 435px; }
.slider:focus{outline: none; border: none; }
.carousel-control-prev,.carousel-control-next{ background-image:url(../images/next-prev.png); background-repeat: no-repeat; width: 60px; height: 60px; top: calc(50% - 40px); opacity: 1; cursor: pointer;     margin-left: -35px;   }
.carousel-control-prev span,.carousel-control-next span{ display:none;}
.carousel-control-next{ background-position:-61px 0px;     margin-left:0;  margin-right: -35px; }
.carousel-control-prev:hover,.carousel-control-next:hover{ opacity: 1; }
.info-caption{ position: relative; z-index: 99; padding:45px 0 25px;background-color: #fff;border-bottom-left-radius: 22px; border-bottom-right-radius: 22px;  box-shadow: 0px 13px 81px 0px rgba(51, 93, 169, 0.25);}
.info-slider:before,.info-slider:after{ content:'';background-color:#fff; position: absolute; top:0px; bottom:-37px; left:50px; right:50px;opacity: 0.4; border-bottom-left-radius: 22px;
border-bottom-right-radius: 22px;  box-shadow: 0px 13px 81px 0px rgba(51, 93, 169, 0.25);}
.info-slider:after{bottom:-70px; left:92px; right:92px; }
.slide{ z-index: 99; }
.info-col:after{ content: ""; width:1px; height:51px; background-color: #d6d6d6; position: absolute; top:calc(50% - 24px); right:0px;  }
.info-col:last-child:after{display: none;}
.info-col div{  width: 138px; display: inline-block; }
.info-col .number{ color: #434259; font-size: 54px; font-weight:900; }
.info-col p{ color: #828198; font-size:22px; font-weight: bold; margin-bottom: 0;  }
.info-slider .carousel-indicators{display:none;}
.bottom-row{ margin-top:114px;}
.bottom-row .custom-card{ cursor: pointer; box-shadow: 0px 12px 51px 0px rgba(51, 93, 169, 0.25);}
.custom-card{background-color:#fff; border-radius: 10px; height: 109px; line-height: 109px;   }
.interest{ color: #595d69; font-size: 27px; font-weight:bold; text-transform:uppercase; }
.interest img{margin-right: 20px; }
.interest-col{ padding-right:50px;}
.interest-col:last-child{padding-left:50px; }
.space-top{margin-top:80px;}


 #wrapper{ display: flex; min-height: 100vh;flex-direction: column;}
 #content {flex: 1;}
.signin-main{ width:100%; min-height:calc(100vh - 71px); display: table;  }
.signin-in{  width: 100%; height: 100%; display:table-cell; vertical-align: middle;   }
