<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p style="text-align: center;">© 2018 <a href="http://54.162.4.170/smythcasting/" target="_blank"> Smyth Casting</a>. All rights reserved.</p>
      </div>
      <!-- <div class="col-lg-6 col-md-12">
          <ul>
          <li><a [routerLink]="['/support']"> Help & Support</a></li>
          <li><a [routerLink]="['/feedback']">Give us Feedback</a></li>
          <li><a [routerLink]="['/terms-and-conditions']">Terms of Service & Privacy Policy</a></li>
        </ul>
      </div> -->
    </div>
  </div>
</footer>


<div class="modal fade invite-friends" id="invite-friends">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content text-center">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
      <h4>invite Friends</h4>
      <form class="mt-5">
      <div class="form-group">
         <label>Copy URL.</label> 
         <div class="row">
           <div class="col-lg-7 col-md-12">
            <div class="url">
             <em><i class="fas fa-link"></i></em>
               <input type="email" class="form-control input-underline" placeholder=" <http://www.extrasfilm.com>">
            </div>
            </div>
            <div class="col-lg-5 col-md-12"><button class="btn btn-primary">Copy to Clipboard</button></div>
          </div>
      </div>
       
      <div class="form-group">
     <label>Share this on your favorite Social Networks</label> 
       <div class="social pt-3">
         <a href="javascript:void(0)" class="tw"><i class="fab fa-twitter"></i></a>
         <a href="javascript:void(0)" class="fb"><i class="fab fa-facebook-f"></i></a>
         <a href="javascript:void(0)" class="pin"><i class="fab fa-pinterest-p"></i></a>
         <a href="javascript:void(0)" class="google"><i class="fab fa-google-plus-g"></i><span class="select"><i class="fas fa-check"></i></span></a>
       </div><!--social-->
      </div>
       
       <div class="form-group mb-0 mt-5">
    <button class="btn btn-primary text-uppercase" data-dismiss="modal">Share Now</button>
      </div>
         
      </form>
     
      </div>
    </div>
  </div>