<div>
  <a routerLink="/admin/workshops/add" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus pointer"></i>Create Workshop</a>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <td *ngFor="let col of displayedColumns">
                          {{col}}
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let w of workshops;let i=index;">
                        <td>  {{(limitPage[0] * (pageNo-1)) + i+1}}</td>
                        <td>
                          <span>
                            {{w.title || 'Not Available'}}
                          </span>
                        </td>
                        <td>{{w.startDate}} to {{w.endDate ? w.endDate : w.startDate}}</td>
                        <td>{{w.venue || 'Not Available'}}</td>
                        <td>{{w.organizer || 'Not Available'}}</td>
                        <td>{{w.phone || 'Not Available'}}</td>
                        <td>{{w.venuePhone || 'Not Available'}}</td>
                        <td>{{w.created || 'Not Available'}}</td>
                        <td>
                          <div class="row">
                            <a routerLink="" class="pointer"><i class="fa fa-eye pointer"></i></a>
                            <a routerLink="/admin/workshops/edit" class="pointer"><i class="fa fa-edit pointer"></i></a>
                            <a (click)='deleteWorkshop(w)' class="pointer"><i class="fa fa-trash pointer"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
