<div class="container-fluid">
  <div class="right-btn">
    <a routerLink="/admin/users" class="btn btn-sm btn-primary pull-left" >Go back</a>
  </div>
</div>
<div class="main-content" *ngIf="userDetails">
    <div class="container-fluid">
    <br />
        <div class="row">
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="content">
                      <div class="image" *ngIf="userDetails.profileImages[0]">
                        <img style="height: auto;" [src]="userDetails.profileImages[0]"
                          alt="..."/>
                      </div>
                      <div class="image" *ngIf="!userDetails.profileImages[0]">
                        <img style="height: auto;" src="assets/images/user.jpg"
                          alt="..."/>
                      </div>
                    </div>
                    <hr>
                    <div class="content">
                        <!-- <div class="author">
                            <img *ngIf="userDetails.profileImages[0]" class="avatar border-gray" [src]="userDetails.profileImages[0]">
                        </div> -->
                        <div *ngIf="userDetails.selfVideo">
                            <video width="315" controls>
                              <source [src]="userDetails.selfVideo">
                            </video>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                   <!--  <div class="header">
                        <h4 class="title">User Information</h4>
                    </div> -->
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3"><strong>Name</strong></div>
                                        <div class="col-md-6 col-md-offset-1">{{userDetails.firstName}} {{userDetails.lastName}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3"><strong>Date of Birth</strong></div>
                                        <div class="col-md-6 col-md-offset-1">{{userDetails.dob || 'Not Available'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3"><strong>Gender</strong></div>
                                        <div class="col-md-6 col-md-offset-1">
                                          {{ userDetails.gender || 'Not Available'}}                                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="col-md-3"><strong>Phone Number</strong></div>
                                  <div class="col-md-6 col-md-offset-1">{{userDetails.phone || 'Not Available'}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="col-md-3"><strong>Email</strong></div>
                                  <div class="col-md-6 col-md-offset-1">{{userDetails.email}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="col-md-3"><strong>Height(cm)</strong></div>
                                  <div class="col-md-6 col-md-offset-1">{{userDetails.height}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="col-md-3"><strong>Weight(kg)</strong></div>
                                  <div class="col-md-6 col-md-offset-1">{{userDetails.weight}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="col-md-3"><strong>Ethnicity</strong></div>
                                  <div class="col-md-6 col-md-offset-1">{{userDetails.ethnicity}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="col-md-3"><strong>Hair Color</strong></div>
                                  <div class="col-md-6 col-md-offset-1">{{userDetails.hairColor}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="col-md-3"><strong>Eye Color</strong></div>
                                  <div class="col-md-6 col-md-offset-1">{{userDetails.eyeColor}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="col-md-3"><strong>Allergies</strong></div>
                                  <div class="col-md-6 col-md-offset-1">{{userDetails.allergies}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <div class="col-md-3"><strong>Medical Condition</strong></div>
                                  <div class="col-md-6 col-md-offset-1">{{userDetails.medicalCondition}}</div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3"><strong>SignUp Date</strong></div>
                                        <div class="col-md-6 col-md-offset-1">{{userDetails.created | date: 'MM/dd/yyyy'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form>
                          <div class="row" align="center">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <div class="col-md-12"><h5>Full Bodyshot</h5></div>
                                      <img [src]="userDetails.fullBodyShot" width="500">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <div class="col-md-12"><h5>Headshot</h5></div>
                                      <img [src]="userDetails.headShot" width="500">
                                  </div>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
