<div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          	<div class="card card-stats set-height text-center">
          		<div class="dashicon"><i class="fa fa-user fa-5x"></i></div>
          		<h3 class="card-title dash-title">Users  <br>
                <h4>{{usersCount}}</h4>
                </h3>
                <a class="btn btn-primary btn-dash" [routerLink]="['/admin/users']">View Users</a>
           	</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card card-stats set-height text-center">
                <div class="dashicon"><i class="fa fa-bookmark fa-5x"></i></div>
                <h3 class="card-title dash-title">Workshops <br>  
                    <h4>{{workshopCount}}</h4>  
                </h3>
                <a class="btn btn-primary btn-dash" [routerLink]="['/admin/workshops']">View Workshops</a>
            </div>
        </div>
        <!-- <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="card card-stats set-height text-center">
            	<div class="dashicon"><i class="fa fa-sitemap fa-5x"></i></div>
                <h3 class="card-title dash-title">Pages <br>  
                	<small>0</small>  
                </h3>
                <a class="btn btn-primary btn-dash" [routerLink]="['/admin/webpages']">View Pages</a>
            </div>
        </div> -->           
    </div>
</div>