<div class="container">
    <div class="signin-content bg-white">
      <div class="signin-left"> <img src="assets/images/left-image.jpg" alt=""> </div>
      <div class="signin-right">
        <div class="signin-head">
          <h2>Smyth Casting Admin</h2>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="form-group">
              <input type="text" class="form-control input-underline" formControlName="email" placeholder="{{ 'Placeholders.email' | translate }}">
              <div class="text-danger" *ngIf="form.get('email').hasError('required')
                  && ( form.get('email').touched || formSubmitAttempt)">
                  {{ 'Validations.email' | translate }}
              </div>
              <div class="text-danger" *ngIf="!form.get('email').hasError('required') &&
                  form.get('email').hasError('pattern') && form.get('email').touched">
                {{ 'Validations.validEmail' | translate }}
              </div>
          </div>
          <div class="form-group">
              <input type="password" class="form-control input-underline" formControlName="password" placeholder="{{ 'Placeholders.pass' | translate }}">
              <div class="text-danger" *ngIf="form.get('password').hasError('required')
                  && ( form.get('password').touched || formSubmitAttempt)">
                  {{ 'Validations.pass' | translate }}
              </div>
              <div class="text-danger" *ngIf="form.get('password').hasError('minlength')">
                  {{ 'Validations.minPass' | translate }}
              </div>
              <div class="text-danger" *ngIf="form.get('password').hasError('maxlength')">
                {{ 'Validations.maxPass' | translate }}
              </div>
            <a [routerLink]="['/admin/forgot-password']" class="forgot">  {{ 'LinkTxt.forgotPass' | translate }}?</a>
          </div>

            <div *ngIf="!showSpinner">
              <button class="rounded-btn btn btn-primary blue-bg btn-block mb-3 mt-5 btn-shadow text-uppercase">  {{ 'BtnTxt.signin' | translate }} </button>
            </div>

            <span *ngIf="showSpinner" class="loader">
                <img src="assets/images/loader.gif" alt="loader">
            </span>
            <!-- <div class="text-danger text-center mt-3" *ngIf="errorMessage">
              {{ errorMessage }}
            </div> -->
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
