<div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="container-fluid">
      <a routerLink="/admin/workshops/add" class="btn btn-sm btn-primary btn-dash pull-right"><i class="fa fa-plus pointer"></i>   Create Workshop</a>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th *ngFor="let col of displayedColumns">
                          {{col}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let w of workshops;let i=index;">
                        <td>{{(limitPage[0] * (pageNo-1)) + i+1}}</td>
                        <td>
                          <span>
                            {{w.title}}
                          </span>
                        </td>
                        <td>{{w.startDate}} to {{w.endDate ? w.endDate : w.startDate}}</td>
                        <td>{{w.venue}}</td>
                        <td>{{w.organizer}}</td>
                        <td>{{w.phone}}</td>
                        <td>{{w.venuePhone}}</td>
                        <!-- <td>{{w.created}}</td> -->
                        <td>
                          <div class="row">
                            <!-- <a routerLink="" class="pointer"><i class="fa fa-eye pointer"></i></a> -->
                            <a routerLink="/admin/workshops/edit/{{w._id}}" class="pointer"><i class="fa fa-edit pointer"></i></a>
                            <a (click)='deleteWorkshop(w)' class="pointer"><i class="fa fa-trash pointer"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
