<div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="container-fluid">
      <!-- <form>
        <div class="form-group">
          <span (click)="chkClick(countryCityModal, 'country')" class="form-control btn btn-sm btn-primary btn-dash pull-right input-underline pl-3 ">
          <span  *ngIf="!workCountry" class="color"> Search Country </span>
          <span *ngIf="workCountry"> {{workCountry.name}} </span>
        </span>
        </div>
      </form> -->
     <!-- <button type="button" class="btn btn-primary pull-right" (click)="staticModal1.show()">Send email</button> -->
      <!-- <a href="javascript:void(0)" data-toggle="modal" data-target="#invite-friends"><i class="fas fa-user-plus"></i>Invite friends</a> -->
      <!-- <a class="btn btn-sm btn-primary btn-dash pull-right"><i class="fa fa-envelope pointer"></i>Send Mail</a> -->
        <div class="card">
            <div class="card-body">
                <table class="table table-responsive table-hover">
                    <thead>
                      <tr>
                        <!-- <th *ngFor="let col of displayedColumns">
                          {{col}}
                        </th> -->
                        <!-- <th>S.No</th> -->
                        <th><input type="checkbox" [(ngModel)]="isAllChecked" (ngModelChange)="CheckUncheckAll($event)" /></th>
                        <th>Image</th>
                        <th class="pointer" (click)="sort('firstName')">Name <i class="fa" [ngClass]="{'fa-sort': column != 'firstName', 'fa-sort-up': (column == 'firstName' && isDesc), 'fa-sort-down': (column == 'firstName' && !isDesc) }" aria-hidden="true"> </i></th>
                        <th (click)="sort('email')">Email <i class="fa" [ngClass]="{'fa-sort': column != 'email', 'fa-sort-up': (column == 'email' && isDesc), 'fa-sort-down': (column == 'email' && !isDesc) }" aria-hidden="true"> </i></th>
                        <th>Phone</th>
                        <th (click)="sort('created')">Created <i class="fa" [ngClass]="{'fa-sort': column != 'created', 'fa-sort-up': (column == 'created' && isDesc), 'fa-sort-down': (column == 'created' && !isDesc) }" aria-hidden="true"> </i></th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of users | orderBy: {property: column, direction: direction}; let i=index;">
                          <!-- <td>  {{(limitPage[0] * (pageNo-1)) + i+1}}</td> -->
                          <td>  <input id="chkUser_{{u.email}}" type="checkbox" [(ngModel)]="u.Selected" (ngModelChange)="CheckUncheckHeader($event)" /></td>
                          <td><img class="preview-salon-img" height="50" src="https://extras-dev.s3.amazonaws.com/smythcasting/user/profile/{{u.profileImages[0]}}" alt=""></td>
                          <td>
                            <a routerLink="/admin/users/view/{{u._id}}" class="pointer">
                              <span>
                                {{u.firstName}}
                              </span>
                            </a>
                          </td>
                          <td>{{u.email}}</td>
                          <td>{{u.phone || 'Not Available'}}</td>
                          <td>{{u.created | date: 'dd-MM-yyyy'}}</td>
                          <td>
                            <a routerLink="/admin/users/view/{{u._id}}" class="pointer"><i class="fa fa-eye pointer"></i></a>
                            <a (click)='userDelete(u)' class="pointer"><i class="fa fa-trash pointer"></i></a>
                          </td>
                        </tr>
                    </tbody>
                </table>              
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<!-----------Spinner----------------->
<span *ngIf="showSpinner" class="loader">
    <img src="assets/images/loader.gif" alt="loader">
</span>


<!----------------MOdal Box---------------------->
<ng-template class="custom-modal"  #countryCityModal let-c="close" let-d="dismiss">
    <div class="modal-header custom-modal-head"><h4 class="modal-title">List of Countries</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <img src="assets/images/close.png" alt="">
       </button>
    </div>
    <div class="modal-body country-select">
      <div class="serch-field">
        <div class="row">
            <div class="col-md-12">
              <p>gdfhhhhhhhhhhhh fdherhbtrht tdhsthjtrgj drhtrhtrhfrg drfhgfhdfh dfhgfhgf gdfhdf rgdhdfdfhdsgh dfh dfg dfsghsdfh sdfhdfh</p>
              <!-- <input type="text"  class="form-control input-underline pl-3" placeholder="Search Country"
                 [(ngModel)]="countryWorkQuery" [ngModelOptions]="{standalone: true}">
              <ul *ngIf="countries" class="ng-star-inserted">
                <li (click)="setSelectedCountry(cntry, 'work');d('Cross click');" class="cursor-pointer"
                *ngFor="let cntry of countries | filterNames:countryWorkQuery ">{{cntry.name}}</li>
              </ul>
              <span *ngIf="!modalSpinner && (!countries || countries.length<=0)">No country found</span> -->
              <span *ngIf="modalSpinner" class="loader">
                  <img src="assets/images/loader.gif" alt="loader">
              </span>
            </div>
        </div>
      </div>
    </div>
</ng-template>


<div class="modal fade invite-friends" id="invite-friends">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content text-center">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
      <h4>invite Friends</h4>
      <form class="mt-5">
      <div class="form-group">
         <label>Copy URL.</label>
         <div class="row">
           <div class="col-lg-7 col-md-12">
            <div class="url">
             <em><i class="fas fa-link"></i></em>
               <input type="email" class="form-control input-underline" placeholder=" <http://www.extrasfilm.com>">
            </div>
            </div>
            <div class="col-lg-5 col-md-12"><button class="btn btn-primary">Copy to Clipboard</button></div>
          </div>
      </div>

      <div class="form-group">
     <label>Share this on your favorite Social Networks</label>
       <div class="social pt-3">
         <a href="javascript:void(0)" class="tw"><i class="fab fa-twitter"></i></a>
         <a href="javascript:void(0)" class="fb"><i class="fab fa-facebook-f"></i></a>
         <a href="javascript:void(0)" class="pin"><i class="fab fa-pinterest-p"></i></a>
         <a href="javascript:void(0)" class="google"><i class="fab fa-google-plus-g"></i><span class="select"><i class="fas fa-check"></i></span></a>
       </div><!--social-->
      </div>

       <div class="form-group mb-0 mt-5">
    <button class="btn btn-primary text-uppercase" data-dismiss="modal">Share Now</button>
      </div>

      </form>

      </div>
    </div>
  </div>

 <!--  <div class="modal fade" bsModal #myModal1="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name">
  <div class="modal-dialog otp-modal">
    <div class="modal-content">
        ...modal1
    </div>
  </div>
</div> -->

<div class="modal fade" bsModal #staticModal1="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Message</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal1.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="sendEmailToUsers()">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="title">Message Body</label>
              <textarea rows="8" class="form-control" cols="8" required=""></textarea>                
            </div>
          </div>
          <div class="form-row">
            <div class="form-group" class="col-md-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
        <!-- <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</div>