<div class="container">

<div class="row justify-content-md-center pt-4 windowh">
    <div class="col-md-5">
        <div class="signin-content bg-white padding2 custom-box">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" #f="ngForm">
              <div class="form-group mb-0">
                <h4 class="mb-5 text-center">Forgot Password</h4>
                <div class="row mb-5">
                  <div class="col-md-12">
                    <input type="text" class="form-control input-underline" formControlName="email" placeholder="{{ 'Placeholders.email' | translate }}">
                    <div class="text-danger" *ngIf="form.get('email').hasError('required')
                        && ( form.get('email').touched || formSubmitAttempt)">
                        {{ 'Validations.email' | translate }}
                    </div>
                    <div class="text-danger" *ngIf="!form.get('email').hasError('required') &&
                        form.get('email').hasError('pattern') && form.get('email').touched">
                      {{ 'Validations.validEmail' | translate }}
                    </div>
                  </div>
                 </div>

                   <div class="text-center" *ngIf="!showSpinner">
                      <button class="btn btn-primary rounded-btn text-uppercase btn-shadow  center-block">{{'BtnTxt.submit' | translate}}</button>
                    </div>
                    <span *ngIf="showSpinner" class="loader">
                            <img src="assets/images/loader.gif" alt="loader">
                        </span>
                    <!-- <div class="text-danger text-center mt-3" *ngIf="errorMessage">
                      {{ errorMessage }}
                    </div> -->

        </div>


            </form>
            <div class="clearfix"></div>
          </div>
      </div>

</div>



    </div>
