/* You can add global styles to this file, and also import other style files */
 
@media (min-width: 1200px){
 .container { max-width: 1006px;}

 }

 @media (min-width: 992px){
    #header .nav-item{margin-right:8px; line-height: 40px; }

 }