
.calendar{  cursor: pointer; }
.captilaize{
  text-transform: capitalize;
}
.cursor-pointer{
  cursor:pointer;
}


.profile-prev{
  position: absolute;
  width: 100%;
  height: 150px;
  top: 0;right: 0
}
.profile-prev img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile-prev video{
  height: 100%;
  width: 100%;
  object-fit: cover;,
  z-index: 999;
}
