<div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="WebpageForm" (ngSubmit)="onSubmit()">
                  <!-- <h2 class="oth-title">Create Workshop</h2> -->
                  <div formGroupName="webpageData">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" formControlName="title" id="title">
                          <span class="help-block" *ngIf="WebpageForm.get('webpageData.title').hasError('required')
                                  && ((WebpageForm.get('webpageData.title').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="description">Short Desciption</label>
                        <textarea rows="4" class="form-control" formControlName="short_desc" id="short_desc" ></textarea>
                          <span class="help-block" *ngIf="WebpageForm.get('webpageData.short_desc').hasError('required')
                                  && ((WebpageForm.get('webpageData.short_desc').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="description">Desciption</label>
                        <textarea rows="6" class="form-control" formControlName="description" id="description" ></textarea>
                          <span class="help-block" *ngIf="WebpageForm.get('webpageData.description').hasError('required')
                                  && ((WebpageForm.get('webpageData.description').touched) || formSubmitAttempt)">Field is required. 
                          </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6" id="workshop-image">
                        <label for="image">Image</label>
                        <input type="file" class="form-control"  [style.display]="'none'" (change)="readUrl($event)" formControlName="image" id="image">
                         <img class="preview-salon-img" *ngIf="serverImage" [src]="serverImage" alt="preview">
                        <!-- <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput> -->
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group" class="col-md-6">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a routerLink="/admin/webpages" class="btn btn-primary">Cancel</a>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
