<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button style="display: block;" type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="javascript:void(0);" >{{getTitle()}}</a> -->
        </div>
        <!-- <div class="navbar-minimize">
          <button class="btn btn-just-icon btn-white btn-fab btn-round mat-raised-button" mat-raised-button="">
            <span class="mat-button-wrapper">
            <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
            <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini"
              (click)="sidebarToggle();">view_list</i>
          </span>
          <div class="mat-button-ripple mat-ripple" matripple="">
          </div>
          <div class="mat-button-focus-overlay">
          </div>
      </button>
      </div> -->
        <div class="collapse navbar-collapse">
          <!-- {{getTitle()}} -->
            <!-- <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-dashboard"></i>
                        <p class="hidden-lg hidden-md">{{getTitle()}}</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <b class="caret"></b>
                        <span class="notification hidden-sm hidden-xs">5</span>
                        <p class="hidden-lg hidden-md">
                            5 Notifications
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Notification 1</a></li>
                        <li><a href="#">Notification 2</a></li>
                        <li><a href="#">Notification 3</a></li>
                        <li><a href="#">Notification 4</a></li>
                        <li><a href="#">Another notification</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <p class="hidden-lg hidden-md">Search</p>
                    </a>
                </li>
            </ul> -->

            <ul class="nav navbar-nav navbar-right">
                <!-- <li>
                    <a href="#">
                        <p>Account</p>
                    </a>
                </li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- <p>
                            Dropdown
                            <b class="caret"></b>
                        </p> -->
                        <!-- <mat-icon>account_box</mat-icon> -->
                        <!-- <i class="fa fa-user"></i> -->
                        <strong>{{admin.name}}</strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink='/profile/change-password'>Change Password</a></li>
                        <!-- <li><a href="#">Another action</a></li>
                        <li><a href="#">Something</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li> -->
                    </ul>
                </li>
                <li>
                    <a (click)="onLogout();" class="text-color"> Log out  </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>
