<div class="container container-md">

<div class="row justify-content-md-center pt-4 windowh">
    <div class="col-md-6">
        <div class="signin-content bg-white padding2 custom-box">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" #f="ngForm">
              <div class="form-group mb-0">
                <h4 class="mb-5 text-center">Reset Password</h4>
                <div class="row mb-5">
                  <div class="col-md-12">
                    <input type="password" class="form-control input-underline text-capitalize" formControlName="new_password" placeholder="{{ 'Placeholders.newPass' | translate }}">
                    <div class="text-danger" *ngIf="form.get('new_password').hasError('required')
                        && ( form.get('new_password').touched || formSubmitAttempt)">
                        {{ 'Validations.pass' | translate }}
                    </div>
                    <div class="text-danger" *ngIf="form.get('new_password').hasError('minlength')">
                        {{ 'Validations.minPass' | translate }}
                    </div>
                    <div class="text-danger" *ngIf="form.get('new_password').hasError('maxlength')">
                      {{ 'Validations.maxPass' | translate }}
                    </div>
                  </div>
                 </div>

                 <div class="row mb-5">
                    <div class="col-md-12">
                      <input type="password" class="form-control input-underline pl-3 text-capitalize" formControlName="cnf_password" placeholder="{{ 'Placeholders.cnfPass' | translate }}">
                      <div class="text-danger" *ngIf="form.get('cnf_password').hasError('required')
                          && ( form.get('cnf_password').touched || formSubmitAttempt)">
                          {{ 'Validations.cnfPas' | translate }}
                      </div>
                      <div class="text-danger" *ngIf="form.get('cnf_password').hasError('minlength')">
                            {{ 'Validations.cnfMinPas' | translate }}
                      </div>
                      <div class="text-danger" *ngIf="form.get('cnf_password').hasError('maxlength')">
                          {{ 'Validations.cnfMaxPas' | translate }}
                      </div>
                      <div class="text-danger" *ngIf="!form.get('cnf_password').hasError('required')
                          && form.get('cnf_password').hasError('MatchPassword')
                          && (form.get('cnf_password').touched  || formSubmitAttempt )">
                            {{ 'passNotMatch' | translate }}
                      </div>
                    </div>
                   </div>
                   <div class="text-center" *ngIf="!showSpinner">
                      <button class="btn btn-primary rounded-btn text-uppercase btn-shadow  center-block">{{'BtnTxt.submit' | translate}}</button>
                    </div>
                    <span *ngIf="showSpinner" class="loader">
                            <img src="assets/images/loader.gif" alt="loader">
                        </span>
                    <!-- <div class="text-danger text-center mt-3" *ngIf="errorMessage">
                      {{ errorMessage }}
                    </div> -->

        </div>


            </form>
            <div class="clearfix"></div>
          </div>
      </div>

</div>



    </div>
